.question-container {
  margin-top: 50px;
}
.question-container h1 {
  text-align: center;
  color: white;
}
.questions {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 75%;
  margin: auto;
  margin-top: 50px;
}
